<h3>Open lists</h3>

<ul class="lists-list">
<% @open_lists.each do |list| %>
  <li><a href="/lists/<%= list.id %>"><%= list.name %></a></li>
<% end %>
</ul>

<h3>Closed Lists</h3>
<ul class="lists-list">
<% @closed_lists.each do |list| %>
  <li><a href="/lists/<%= list.id %>"><%= list.name %></a></li>
<% end %>
</ul>

<% if current_user %>
  <a href="/lists/new">Add a new list...</a>
<% end %>
