<div class="results-list">
  <% @ballot.votes.sort_by {|vote| vote.points}.reverse.each do |vote| %>
    <div class="result clearfix">
      <%= erb :'albums/_info', locals: {album: vote.album, points: vote.points} %>
    </div>
  <% end %>
</div>
